<include href="views/includes/header.html"></include>
<body>
<include href="views/includes/nav.html"></include>
    <section id="homeBody">

        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card accent">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">"Indulge in our 'Cheesy Carnivore' pizza, a mouthwatering
                                combination of sizzling pepperoni, savory Italian sausage, crispy bacon, and a
                                generous layer of melted mozzarella cheese. It's a carnivore's dream come true!"</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card accent">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">"Experience a burst of flavors with our 'Mediterranean Veggie'
                                pizza, featuring a thin and crispy crust topped with fresh tomatoes, vibrant bell
                                peppers, juicy black olives, tangy feta cheese, and a sprinkle of aromatic herbs.
                                It's like taking a delicious journey to the sunny Mediterranean."</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card accent">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">"Savor the perfect balance of sweet and savory with our
                                'BBQ Pineapple Paradise' pizza. This delectable creation combines tender grilled
                                chicken, smoky barbecue sauce, caramelized onions, chunks of juicy pineapple, and
                                a hint of zesty cilantro. It's a tropical twist on a classic favorite!"</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card accent">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card accent">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card accent">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <include href="views/includes/footer.html"></include>
</body>
</html>