body {
    max-width: 1000px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.6);
    /*font-family: "Arial Black";*/
}

.accent {
    background-color: rgba(233, 84, 78, 0.95);
}

.card {
    width: 100%;
}

.card-text {
    color: white;
}

/*Start of the section of code that is responsible for the header styles*/
header {

    /*background-color: rgba(255, 84, 11, 0.6);*/
    font-family: "Arial Black";
    padding-top: 10px;
}

a#shoppingCart.nav-link{
    position: absolute;
    right: 10px;
}

nav.navbar.navbar-expand-lg.bg-body-tertiary {
    border-radius: 25px;
    background-color: rgba(233, 84, 78, 0.95) !important;
}

/*End of the section of code that is responsible for the header styles*/

div.card{
    margin-bottom: 20px;
    width: 100%;
}


img#samsImage.rounded {
    width: 160px;
    hight: 160px;
    margin-left: 50px;
}

img#joshsImage {
    width: 10rem;
}


/*Start of the section of code that is responsible for the footer styles*/
footer{
    text-align: center;
    padding: 10px;
    /*background-color: white;*/
    border-radius: 25px;
    margin-bottom: 10px;

}

footer svg {
    margin-left: 10px;
    margin-right: 10px;
}
/*End of the section of code that is responsible for the footer styles*/

/*Start of the section of code that is responsible for the orderPage styles*/

button.btn.btn-primary.m-4.form-control{
    background-color: rgba(189, 195, 199, 0.95);
    color: #191917;
    border: none;
    width: 30%;
}

/*End of the section of code that is responsible for the orderPage styles*/